#hw,
#sawl,
#kdl {
  background-color: rgb(235, 204, 204);
  width: 500px;
  height: 30px;
  border-radius: 20px;
  margin: auto;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
}

#img {
  padding-left: 500px;
}

#mtg {
  padding-left: 500px;
}
